CREATE TABLE IF NOT EXISTS asistencia ( id SERIAL PRIMARY KEY, id_alumna UUID REFERENCES usuarios(id_alumna), fecha DATE NOT NULL, clase VARCHAR(255), estado VARCHAR(50) CHECK (estado IN ('Presente', 'Ausente', 'Justificado')), created_at TIMESTAMP DEFAULT NOW() ); CREATE INDEX IF NOT EXISTS idx_asistencia_fecha ON asistencia(fecha); CREATE INDEX IF NOT EXISTS idx_asistencia_alumna ON asistencia(id_alumna);
